{% extends "base.html" %}
{% block title %}{{ group.name }}{% endblock %}

{% block content %}
<style>
@media (max-width: 768px) { /* Adjust breakpoint as needed */
  .fixed-bottom-right .btn {
    margin-bottom: 10px; /* Add 10px bottom margin to each button on smaller screens */
  }

  .fixed-bottom-right .btn:last-child { /* Remove bottom margin from the last button */
    margin-bottom: 0;
  }
}
</style>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>{{ group.name }}</h1>
      <p class="text-muted">{{ group.description }}</p>
      <a href="{{ url_for('views.add_expense', group_id=group.id) }}" 
         class="btn btn-primary btn-lg my-1"> 
        <i class="fas fa-plus"></i> Add Expense
      </a>
      <button type="button" class="btn btn-lg btn-green my-1" data-bs-toggle="modal" data-bs-target="#inviteMembersModal">
        <i class="fas fa-envelope"></i> Invite to Group
    </button>
    <div class="modal fade" id="inviteMembersModal" tabindex="-1" aria-labelledby="inviteMembersModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="inviteMembersModalLabel">Invite Members to {{ group.name }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
              <div class="toast-body">
                Invitation link copied to clipboard!
              </div>
              <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
          </div>
          <div class="modal-body">
            <div id="invitation-link-container" style="display: none;"> 
              <p>Share this link to invite others:</p>
              <div class="input-group mb-3">
                <input type="text" class="form-control" id="invitation-link" readonly>
                <button class="btn btn-outline-secondary" type="button" id="copy-link-btn">
                  <i class="fas fa-copy"></i> Copy
                </button>
              </div>
            </div>
            <div id="generating-link-message" class="text-center">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Generating link...
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- <a href="{{ url_for('views.invite_to_group', group_id=group.id) }}" 
         class="btn btn-lg btn-green my-1"> 
        <i class="fas fa-envelope"></i> Invite to Group
      </a> -->
      <button type="button" class="btn btn-lg btn-danger my-1 fixed-bottom-right" data-bs-toggle="modal" data-bs-target="#leaveGroupModal">
        <i class="fas fa-sign-out-alt"></i>  Leave Group
    </button>
    
    <div class="modal fade" id="leaveGroupModal" tabindex="-1" aria-labelledby="leaveGroupModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content"> 
          <div class="modal-header">
            <h5 class="modal-title" id="leaveGroupModalLabel">Confirm Leave Group</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to leave this group?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button> 
            <button type="button" class="btn btn-danger" onclick="leaveGroup({{ group.id }})" data-bs-dismiss="modal">Leave Group</button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>

  <h2>Balances Summary</h2>
  <div class="row">
    {% for member in group.members %}
        {% if member.id in balances %}
            <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-body d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="card-title">{{ member.first_name }} {{ member.last_name }}</h5>
                    <p class="card-text">Balance: ${{ balances[member.id] | round(2, 'common') }}</p>
                    {% for settlement in settlements %}
                      {% if settlement[2] == member.id %}
                        <h6 class="card-text">
                          Owes {{ settlement[1] }} ${{ settlement[4]|round(2) }}
                        </h6>
                      {% elif settlement[0] == member.id %}
                        <h6 class="card-text">
                          Owed ${{ settlement[4]|round(2) }} from {{ settlement[3] }} 
                        </h6>
                      {% endif %}
                    {% endfor %}
                </div>
                {% if balances[member.id] > 0 %}
                    <span class="badge bg-success">Owed</span>
                {% elif balances[member.id] < 0 %}
                    <span class="badge bg-danger">Owes</span>
                {% else %}
                    <span class="badge bg-secondary">Settled Up</span>
                {% endif %}
                </div>
            </div>
            </div>
        {% endif %}
    {% endfor %}
  </div>

  <h2>Expenses</h2>

  <div class="accordion" id="expenseAccordion">
    {% for expense in expenses %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading-{{ expense.id }}">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
                  data-bs-target="#collapse-{{ expense.id }}" aria-expanded="false" aria-controls="collapse-{{ expense.id }}">
            {{ expense.description }}: ${{ expense.formatted_amount() }}
          </button>
        </h2>
        <div id="collapse-{{ expense.id }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ expense.id }}" data-bs-parent="#expenseAccordion">
          <div class="accordion-body">
            <p>Paid by: {{ expense.paid_by.first_name }} {{ expense.paid_by.last_name }}</p>
            <p>Date: {{ expense.date.strftime('%Y-%m-%d') }}</p>
            <p>Participants:</p>
            <ul>
              {% for participant in expense.participants %}
                <li>{{ participant.first_name }} {{ participant.last_name }}</li>
              {% endfor %}
            </ul>
            <div class="mt-3">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#editExpenseModal-{{ expense.id }}">Edit</button>
                {% if current_user == expense.paid_by %}
                <a href="#" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteExpenseModal-{{ expense.id }}" >Delete</a>
                    <div class="modal fade" id="deleteExpenseModal-{{ expense.id }}" tabindex="-1" aria-labelledby="deleteExpenseModalLabel-{{ expense.id }}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteExpenseModalLabel-{{ expense.id }}">Confirm Delete</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this expense?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <form method="POST" action="{{ url_for('views.delete_expense', expense_id=expense.id) }}">
                            <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                        </div>
                    </div>
                    </div>
                {% endif %}
            </div>
            <div class="modal fade" id="editExpenseModal-{{ expense.id }}" tabindex="-1" aria-labelledby="editExpenseModalLabel-{{ expense.id }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="editExpenseModalLabel-{{ expense.id }}">Edit Expense</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form id="editExpenseForm-{{ expense.id }}" method="POST" action="{{ url_for('views.edit_expense', expense_id=expense.id) }}">
                        <div class="mb-3">
                          <label for="description" class="form-label">Description</label>
                          <input type="text" class="form-control" id="description" name="description" value="{{ expense.description }}" required>
                        </div>
                        <div class="mb-3">
                          <label for="amount" class="form-label">Amount</label>
                          <input type="number" step="0.01" class="form-control" id="amount" name="amount" value="{{ expense.amount }}" step="0.01" min="0.01" required>
                        </div>
                        <div class="mb-3">
                          <label for="paid_by" class="form-label">Paid By</label>
                          <select class="form-select" id="paid_by" name="paid_by">
                            {% for member in group.members %}
                              <option value="{{ member.id }}" {% if member == expense.paid_by %}selected{% endif %}>
                                {{ member.first_name }} {{ member.last_name }}
                              </option>
                            {% endfor %}
                          </select>
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Participants</label>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="selectAllParticipants-{{ expense.id }}" >
                            <label class="form-check-label" for="selectAllParticipants-{{ expense.id }}">
                              Select All
                            </label>
                          </div>
                          {% for member in group.members %}
                          <div class="form-check">
                            <input class="form-check-input participant-checkbox" type="checkbox" name="participants" value="{{ member.id }}" id="participant-{{ member.id }}" 
                                  {% if member in expense.participants %}checked{% endif %}>
                            <label class="form-check-label" for="participant-{{ member.id }}">
                              {{ member.first_name }} {{ member.last_name }}
                            </label>
                          </div>
                          {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <!-- <div class="text-center mt-3" id="load-more-container" style="display: {% if more_expenses %}block{% else %}none{% endif %};"> 
    <button class="btn btn-secondary" id="load-more-btn">Load More</button>
  </div> -->
</div>
<!-- The commented out script is used to implement the load more items button-->
<!-- <script>
    // Function to load more expenses
    const loadMoreBtn = document.getElementById('load-more-btn');
    const loadMoreContainer = document.getElementById('load-more-container');
    let currentPage = 1; // Track the current page

    // Handles clicking "Load More" button
    document.addEventListener('click', function(event) {
    if (event.target && event.target.id === 'load-more-btn') { 
        event.preventDefault();
        currentPage++; 
        fetch(`/group/{{ group.id }}/expenses?page=${currentPage}`) 
            .then(response => response.json())
            .then(data => {
                if (data.expenses.length > 0) {
                data.expenses.forEach(expense => {
                    addExpenseToAccordion(expense); 
                });
                } else {
                loadMoreContainer.style.display = 'none';
                }
            });
    }
});
    
    // Function to add an expense to the accordion (similar to addItemToTable)
    function addExpenseToAccordion(expense) {
      // Create the accordion item HTML using expense data
      let accordionItem = `
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading-${expense.id}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-${expense.id}" aria-expanded="false" aria-controls="collapse-${expense.id}">
              ${expense.description} - $${expense.amount}
            </button>
          </h2>
          <div id="collapse-${expense.id}" class="accordion-collapse collapse" aria-labelledby="heading-${expense.id}" data-bs-parent="#expenseAccordion">
            <div class="accordion-body">
              <p>Paid by: ${expense.paid_by.first_name} ${expense.paid_by.last_name}</p>
              <p>Date: ${expense.date}</p>
              <p>Participants:</p>
              <ul>
                ${expense.participants.map(participant => `<li>${participant.first_name} ${participant.last_name}</li>`).join('')}
              </ul>
              <div class="mt-3">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#editExpenseModal-${expense.id}">Edit</button>
                <a href="/expense/${expense.id}/delete" class="btn btn-sm btn-outline-danger" onclick="return confirm('Are you sure you want to delete this expense?')">Delete</a>
              </div>
              
            </div>
          </div>
        </div>
      `;
    
      expenseAccordion.innerHTML += accordionItem; // Append the new accordion item
    }
    
    </script> -->
    {% if balances[current_user.id] < 0 %}
    <div class="text-center" style="margin: 20px auto; width: fit-content;"> 
      <button type="button" class="btn btn-secondary" onclick="settleUp()">Settle Up Now</button> 
    </div>
    {% endif %}

    <script>


// Hanldes inviting members to the group

  let invitationToken = null; // Store the invitation token
  const inviteMembersModal = document.getElementById('inviteMembersModal');
  const invitationLinkContainer = document.getElementById('invitation-link-container');
  const generatingLinkMessage = document.getElementById('generating-link-message');
  const invitationLinkInput = document.getElementById('invitation-link');
  const copyLinkBtn = document.getElementById('copy-link-btn');
  const shareLinkBtn = document.getElementById('share-link-btn');
  // Fetch the invitation token when the page loads (or after group creation)
  fetch(`/generate_invitation_token/{{ group.id }}`)
      .then(response => response.json())
      .then(data => {
          if (data.success && data.token) {
              invitationToken = data.token;
          } else {
              console.error("Error fetching invitation token.");
          }
      });

  // Event listener for when the modal is shown
  inviteMembersModal.addEventListener('shown.bs.modal', () => {
      if (invitationToken) {
          const invitationLink = `{{ url_for('views.join_group', token='', _external=True) }}` + invitationToken;
          invitationLinkInput.value = invitationLink;

          generatingLinkMessage.style.display = 'none';
          invitationLinkContainer.style.display = 'block';
      } else {
          // Handle the case where the token couldn't be fetched initially
          // You might want to display an error message or retry fetching the token
      }
  });

  // Event listener for the "Copy Link" button
copyLinkBtn.addEventListener('click', () => {
    invitationLinkInput.select();
    document.execCommand('copy');
      // Trigger the toast notification
      const toastElList = [].slice.call(document.querySelectorAll('.toast'))
    const toastList = toastElList.map(toastEl => new bootstrap.Toast(toastEl))
    toastList.forEach(toast => toast.show()) 
});

// // Event listener for the "Share" button (you'll need to implement the actual sharing logic here)
// shareLinkBtn.addEventListener('click', () => {
//     const shareData = {
//         title: 'Invitation to {{ group.name }} on Splitwiser',
//         text: 'You\'ve been invited to join {{ group.name }} on Splitwiser!',
//         url: invitationLinkInput.value
//     };

//     // Use the Web Share API or a similar method to trigger the native share sheet
//     if (navigator.share) {
//         navigator.share(shareData)
//             .then(() => console.log('Shared successfully'))
//             .catch(error => console.error('Error sharing:', error));
//     } else   
//  {
//         // Fallback for browsers that don't support Web Share   
//  API
//         alert("Sharing not supported in this browser. Please copy the link and share it manually.");
//     }
// });

    const currentGroupId = {{ group.id }};

      // Function to settle up balances
      function settleUp() {
        fetch(`/api/group/${currentGroupId}/settle_up`, {
          method: 'POST'
        })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            // Refresh the page or update balances dynamically
            location.reload(); 
            $('#settleUpModal').modal('hide'); // Close the modal
          } else {
            alert("Error settling up. Please try again.");
          }
        })
        .catch(error => {
          console.error("Error settling up:", error);
          // Handle error appropriately
        });
      }

      // Function to leave a group
      function leaveGroup(groupId) {
    fetch(`/api/leave_group/${groupId}`, {
      method: "POST",
    })
      .then((response) => {
        if (response.ok) {
          window.location.href = "{{ url_for('views.dashboard') }}";
        } else {
          alert("Error leaving group.");
        }
      });
  }
  
  // Add event listeners for "Select All" checkboxes in edit modals
  document.querySelectorAll('.modal .form-check-input[id^="selectAllParticipants-"]').forEach(checkbox => {
    checkbox.addEventListener('change', (event) => {
      const modalBody = event.target.closest('.modal-body'); // Find the closest modal-body
      const participantCheckboxes = modalBody.querySelectorAll('.participant-checkbox');
      participantCheckboxes.forEach(checkbox => {
        checkbox.checked = event.target.checked;
      });
    });
  });

  </script>
{% endblock %}
